@import "./util/reset", "./util/variables", "./util/reset", "./util/mixins", "./util/nav", "./util/login", "./util/register", "./util/welcome", "./util/shopping", "./util/cart", "./util/account";

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}