<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/css/main.css">
    <title>Best Wall Target</title>
</head>

<body>
    <!-- navbar of page -->
    <nav>
        <!-- title and logo -->
        <section class="titleNav">
            <a href="/users/dashboard" class="webTitle"><strong>Best Wall Target</strong></a>
        </section>

        <!-- links -->
        <section class="navLinks">
            <a href="/users/account">Account</a>
            <a href="/users/shopping">Shopping</a>
            <a href="/users/cart">Cart</a>
        </section>
    </nav>

    <!-- content section -->
    <main>

    </main>


    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../public/js/shopping.js"></script>
</body>

</html>