<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/css/main.css">
    <title>Best Wall Target</title>
</head>

<body>
    <!-- navbar of page -->
    <nav>
        <!-- title and logo -->
        <section class="titleNav">
            <a href="/users/account" class="webTitle"><strong>Best Wall Target</strong></a>
        </section>

        <!-- links -->
        <section class="navLinks">
            <a href="/users/account">Account</a>
            <a href="/users/shopping">Shopping</a>
            <a href="/users/cart">Cart</a>
        </section>
    </nav>

    <!-- content section -->
    <main class="cartSection">
        <!-- cart side -->
        <section class="cartSection">
            <h2 class="cartTitle">Shopping Cart</h2>
            <!-- horizontal line -->
            <div class="line"></div>

            <!-- descriptors at the top -->
            <div class="categoriesSection">
                <div class="categories">
                    <p class="descriptors">Image</p>
                    <p class="descriptors">Name</p>
                    <p class="descriptors">Price</p>
                    <p class="descriptors">Quantity</p>
                </div>
            </div>
            <!-- horizontal line -->
            <div class="line"></div>

            <!-- cart items -->
            <div class="cartItems">
                <div class="cartItem">
                    
                    <div class="productInfoCont">
                        <p class="productInfo">
                            <img src="../public/images/cart.png" alt="" class="productImage">
                        </p>
                        <p class="productInfo">cereal</p>
                        <p class="productInfo">$14.14</p>
                        <p class="productInfo">
                            <select name="quantity" id="quantity">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>    
                                <option value="3">4</option>
                                <option value="4">3</option>
                                <option value="5">5</option>
                            </select>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- payment side -->
        <section class="paymentSection">
            <input type="text">
        </section>
    </main>


    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../public/js/cart.js"></script>
</body>

</html>