<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/css/main.css">
    <title>Best Wall Target</title>
</head>

<body class="body">
    <!-- title of page -->
    <section>
        <h1 class="dashboardTitle">Dash Board</h1>
    </section>

    <!-- navbar of page -->
    <nav>
        <!-- title and logo -->
        <section class="titleNav">
            <a href="/users/dashboard" class="webTitle"><strong>Best Wall Target</strong></a>
        </section>
    
        <!-- links -->
        <section class="navLinks">
            <a href="/users/account">Account</a>
            <a href="/users/shopping">Shopping</a>
            <a href="/users/cart">Cart</a>
        </section>
    </nav>

    <section class='dashBoardSection'>
        <!-- the user info section -->
        <article id="userInfo">
            <aside>
                <h1 id="username"></h1>
                <p id="userGame" class="userInfo"></p>
                <p id="userWins" class="userInfo"></p>
                <p id="userLoses" class="userInfo"></p>
                <p id="userTies" class="userInfo"></p>
            </aside>

            <!-- button to play a game -->
            <button><a href="/users/game">Play Game</a></button>
        </article>


        <!-- leaderboard section -->
        <article id="leaderboard">
            <h1 id="leaderboardTitle">Leaderboard</h1>
            <ol class="top" id="scoreBoard">
                <li>User</li>
                <ul>
                    <li>Wins</li>
                    <li>Games</li>
                </ul>
                <li>Item</li>
            </ol>
        </article>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../public/js/dashboard.js"></script>
</body>

</html>