body{
    // main body of cart page
    .cartSection{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;

        // section for the items in the cart
        .cartSection{
            padding-top: 2rem;
            width: 50%;
            display: flex;
            flex-direction: column;
            background-color: #D9D9D9;
            align-items: center;

            // text for shopping cart
            .cartTitle{
                width: 90%;
                font-size: 2.5rem;
                color: black;
            }

            // div for horizontal line
            .line{
                width: 97%;
                border-bottom: 2px solid black;
            }

            // category section of the cart
            .categoriesSection{
                width: 100%;
                display: flex;
                flex-direction: row;

                // categories of the cart
                .categories{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    margin: {
                        left: 1rem;
                        right: 1rem;
                    };

                    // individual descriptors
                    .descriptors{
                        color: black;
                        font-size: 2rem;
                        width: 25%;
                        text-align: center;
                    }
                }
            }

            // body for the cart items
            .cartItems{
                margin-top: 2rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                // single item
                .cartItem{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 100%;

                    // container for information about the product
                    .productInfoCont{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                        margin: 1rem;

                        // image  of the product
                        .productImage {
                            width: 7rem;
                            border-radius: 1rem;
                        }

                        // changes text of the product info
                        .productInfo{
                            color: black;
                            font-size: 2rem;
                            width: 25%;
                            text-align: center;

                            // edits the input section for quantity
                            #quantity {
                                width: 65%;
                                border: none;
                                background-color: #7F7F7F;
                                color: white;
                                padding: .1rem;
                                // text-align: center;
                                font-size: 1.5rem;
                                border-radius: .5rem;

                                // edits placeholder text
                                &::placeholder {
                                    color: rgb(255, 255, 255);
                                }
                            }
                        }
                    }
                }
            }
        }

        // section for payment method
        .paymentSection{
            width: 50%;
            display: flex;
            flex-direction: column;
            background-color: #7F7F7F;
        }
    }
}