// edits section of the page
.loginBody{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 1, 0.5), rgba(0, 0, 1, 0.5)), url('../../images/shoppingBG.avif');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30vw;
        height: 75vh;
        background-color: #7F7F7F;

        h1{
            font-size: 4.5rem;
            color: rgb(255, 255, 255);
            position: relative;
            transform: translate(-50%,0);
        }

        p{
            border-bottom: 2px solid rgb(255, 255, 255);
            margin: 30px;
            text-align: center;
            
            input{
                background: none;
                border: none;
                padding: 10px 5px 0 10px;
                font-size: 30px;
                width: 75%;
                color: rgb(255, 255, 255);
                outline: 0;

                &::placeholder{
                    color: white;
                }
            }
        }

        img{
            padding: 10%;
        }
    }
}