body {
    // edits the nav section
    nav {
        width: 100%;
        height: 10%;
        background-color: #003676;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        // edits each section of page
        .titleNav{
            padding-left: 2rem;
            text-align: center;

            // edits title on the left
            .webTitle { 
                text-decoration: none;
                font-size: 4rem;
            }
        }

        // edits the links on the nav bar
        .navLinks {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 35%;

            // edits links tags
            a {
                text-decoration: none;
                font-size: 3rem;
            }
        }

        // edits search bar
        .searchNav{
            width: 20%;

            #search{
                color: white;
                background-color: #719BDB;
                border: none;
                width: 100%;
                height: 50%;
                border-radius: 1rem;
                font-size: 2rem;
                padding: {
                    left: .75rem;
                    right: .75rem;
                }

                // change color of placeholder text
                &::placeholder {
                    color: white;
                }
                    
            }
        }
    }
}