.shoppingBody{
    overflow-y: auto;
    background-color: #7F7F7F;

    // edits main content section
    .shoppingItems {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        // justify-content: space-evenly;

        // edits each row of items
        .row{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-bottom: 1rem;

            // edits individual item
            .item{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                background-color: #D9D9D9;
                width: 30%;
                height: 15rem;
                border-radius: 1rem;

                // edits container for image section
                .imageCont{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 40%;

                    // edits the image
                    .image {
                        width: 70%;
                        border-radius: 1rem;
                    }
                }

                // holds information of item
                .itemInformation{
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin: 1rem;

                    // edits name
                    .name {
                        font-size: 1.75rem;
                        color: black;
                    }
                
                    // edits price
                    .price {
                        font-size: 1.5rem;
                        color: black;
                    }
                
                    // edits description
                    .description {
                        font-size: 1rem;
                        color: black;
                    }

                    // edits button to add to cart
                    .addCart{
                        background-color: #719BDB;
                        color: white;
                        border: none;
                        width: 45%;
                        font-size: 1.25rem;
                        padding: .5rem;
                        border-radius: .5rem;
                    }

                }

            }
        }
    }
}